*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/pt/ipleiria/estg/dei/amsi/sound3application/Listeners/LoginSignUpListener.java
app/src/main/java/pt/ipleiria/estg/dei/amsi/sound3application/Listeners/LoginListener.java
